.glue-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--dark-color-3);
  display: flex;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
}

.glue-header-logo {
  margin-right: 20px;
  font-size: 2.5vw;
  /* font-weight: bold; */
  font-family: 'Times New Roman', Times, serif;
}

.glue-list {
  font-size: 1.5vw;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.glue-list-item {
  margin-left: 1vw;
  cursor: pointer;
}

/* .glue-list-item:last-child {
  margin-right: 0;
} */
